

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.margin {
  margin-top: 80px;
}
.justify{
  text-align: justify;
}
.margin-bottom {
  margin-bottom: 60px;
}

.margin-text {
  margin-top: 40px;
}
.width-icon{
width: 35px;
}

.herramientas{
  list-style-type: decimal-leading-zero;
}

#centrador{
  position: relative;
  width: 50%;
  height: 50%;
  background-color: #B5E0D9;
}

#imagen{
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.img-cv{
  height: 60vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}