.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.margin {
  margin-top: 80px;
}

.justify{
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 60px;
}

.margin-text {
  margin-top: 40px;
}
.width-icon{
width: 35px;
}

.width-text{
  width: 60%;
  }


.img-cv{
  height: 60vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tabla-criterios{
  width: 50%
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}
.btn-dark:hover {
  opacity:0.6
}

.new-color{
  background-color: rgba(0, 0, 0, 0.329);
}

.new-color-white{
  background-color: rgba(255, 255, 255, 0.76);
}
